@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/*Estilos generales*/
*{
    font-family: 'Poppins', sans-serif;  

    margin: 0;  

    padding: 0;  
    
    box-sizing: border-box;  
 }
  
  /*oculta el contenido que se sale de la caja, es decir, 
  mostrará sólo el contenido que cabe dentro del contenedor 
  y el resto no se ve.*/

body{
    overflow: hidden;  
 }

 /*Estilos de section*/
 section{
    display: flex;  

    justify-content:center;  

    align-items: center;  

    min-height: 100vh;  

    background: linear-gradient(to bottom, #1b1f1b, #000000);
  
  }

  section .color{

    position: absolute;  

    filter: blur(150px); 

  }


  section .color:nth-child(1){

    top: -350px;
  
    width: 600px; 
  
    height: 600px;
  
    background: #0c470f;
  
  
  }

  /*Fin de componente section*/